NEXT_PUBLIC_SITE_URL=https://lunar-lander4.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_n0rnkmy9
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x97310F9d200Cb014f4a0ee0c10c08adbDcDccDe3
